.carousel.slide {

    margin: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.centrado {

    text-align: center;
    font-family: "Bellota", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #595959;


}